.body {
    margin: 0px;
    border: 0px;
}

.header {
    margin: 0 auto;
}

.leftheader {
    border: 1px solid darkcyan;
    float: left;
}

.rightheader {
    height: 100%;
    margin: auto;
    border: 1px solid darkcyan;
    float: right;
}

.rightheader > ul > li {
    list-style-type: none;
    float: right;
    margin: 10px;
}

.langflag {
    width: 30px;
    height: 20px;
}

/* Navbar goes here*/
.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

.navbar .navbar-nav {
    margin: auto;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

nav {
    border: 1px solid aqua;
    width: 100%;
}

/* Carousel style goes here */
.customcarousel {
    padding: 0px;
    height: 400px;
    /*border: 1px solid red;*/
}

.item > img {
    width: 100%;
    height: 400px !important;
}

/*  CS Content Goes HERE */
.contentwrapper {
    border: 1px solid red;
}

.contentwrapper > .row {
    /*padding-top: 10px;*/
    padding: 10px;
}

.depnewstitle {
    text-align: center;
}

.depcontent {
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
}

.depcontent > article > h3 {
    text-align: center;
}

.depquicklinkstitle {
    text-align: center;
}
